<div class="wrapper d-flex align-items-stretch">
    <%- include('./partials/sideNav') %>
        <div id="content" class="p-4 p-md-5 pt-5">
            <h1 class="mt-4">Dashboard</h1>
            <h4 class="lead mb-3">Welcome <%= user.name %>
            </h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="card db__card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="/static/img/sam.bg.svg" alt="profile image" srcset="" width="80%">
                                    </div>
                                    <div class="col-lg">
                                        <p class="lead mx-3"> Name: 
                                            <%= user.firstname %> 
                                            <%= user.lastname %>
                                        </p>
                                        <p class="lead mx-3"> Email:
                                            <%= user.email %>
                                        </p>
                                        <p class="lead mx-3">Phone: 
                                            <%= user.contact %>
                                        </p>
                                        <div class="row">
                                            <div class="">
                                                <p class="lead mx-3">ID number:  </p>
                                                <p class="lead mx-3">Vin: 
                                                    <%= user.vin %>
                                                </p>
                                                <p class="lead mx-3">Make: 
                                                    <%= user.carMake %>
                                                </p> 
                                                <p class="lead mx-3"> Year: 
                                                    <%= user.year %>
                                                </p>
                                                <p class="lead mx-3"> Location: 
                                                    <%= user.location %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>